<!DOCTYPE html>
<html>
  <head>
    <title>Basic Auth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<a href="/signup">Signup</a>
<a href="/login">Login</a>
<a href="/secret">Entrada protegida</a>
<a href="/logout">logout</a>

<br>
<br>
    <p>Hello world</p>
  </body>
</html>
